{% extends 'base.html' %}
{% block content %}

    <h1>About Platino Edition</h1>
    <hr />
<P>
    Platino Edition, established by three people Noor Abdulla, Maram Rashed, and Hessa Ahmed. 
    They are all the stakeholders.
    Noor Abdulla, the founder, she is a Process Engineer. Maram Rashid, the chief creative officer, 
    she is a Chemical Engineer. Hessa Ahmed, the chief technology officer, she is a Specialist.
    Noor, Maram and Hessa in 2020 with master's thesis on advance integral calculations of stress
    concentration in materials. During first month of their engineering career they worked in design
    offices. Later they pursued a career in Sales/Management for steel industry, working for companies 
    belonging to steel industry Technology, reaching a position of Sales Director.
    In a meantime they 
    graduated from General Assembly in Bahrain. For the project purpose they all created the unique 
    Platino Edition software that simulates the car, or a Jets accelerations and performance based 
    on the official technical data. Since 2020 the databases and websites are constantly developed
    and updated. Right now, Noor, Maram and Hessa are dedicating their full professional time to 
    this project.
</P>
{% endblock  %}

<style>

</style>