{% extends 'base.html' %}
{% block content %}

    <h1>CAR 🚘</h1>
    <hr />

    {% for veh in vehicle %}

        <ul> 
       
       <li> Brand: {{veh.brand}}</li> 
       <li> Type: ${{veh.type}}</li> 
       <li> Year: {{veh.year}}</li> 
       <li> Description: {{veh.description}}</li> 
       <li> Price: {{veh.price}}</li> 
       {% for image in veh.multimg_set.all %}
       <li><img src="{{ image.Images.url }}"></li><br>
       
        {% endfor %}
        <form action="/addCarBooking/{{ veh.id }}/" method="POST">
           {% csrf_token %}
            <button type="submit">Book Now!</button>
        </form>
    </ul>
    
       {% endfor %}
    {% endblock  %}