{% extends 'base.html' %}
{% block content %}

    <h1>Jets 🛩</h1>
    
    <hr />
    {% for je in je %}

    <ul> 
   
   <li> Title: {{je.tittle}}</li> 
   <li> Price: ${{je.price}}</li> 
   <li> Space: {{je.space}}</li> 
   <li> Features: {{je.features}}</li> 
   <li> Location: {{je.location}}</li> 
   {% for image in je.multimg_set.all %}
   <li><img src="{{ image.Images.url }}"></li><br>
   
    {% endfor %}
    <form action="/addJetBooking/{{ je.id }}/" method="POST">
        {% csrf_token %}
        <button type="submit">Rent Now!</button>
     </form>
</ul>

<form id="note-form">
    <input id="note-input" type="text" placeholder="+ Add Comment" required />
    <button id="note-submit">Add</button>
  </form>
  <ul id="notes"></ul>
  <script>
    const noteForm = document.getElementById("note-form");
    const noteInput = document.getElementById("note-input");
    const noteSubmit = document.getElementById("note-submit");
    const notes = document.getElementById("notes");

    let notesStorage = localStorage.getItem("notes")
      ? JSON.parse(localStorage.getItem("notes"))
      : [];

    noteForm.addEventListener("submit", (e) => {
      e.preventDefault();
      notesStorage.push(noteInput.value);
      localStorage.setItem("notes", JSON.stringify(notesStorage));
      listBuilder(noteInput.value);
      noteInput.value = "";
    });

    const listBuilder = (text) => {
      const note = document.createElement("li");
      note.innerHTML = text + `<li>{{user.username}}</li>` + `<button onclick="deleteNote(this)">x</button>`
      // note.innerHTML = text + ' ';
      notes.appendChild(note);
    };

    const getNotes = JSON.parse(localStorage.getItem("notes"));
    getNotes.forEach((note) => {
      listBuilder(note);
    });

    const deleteNote = (btn) => {
      let el = btn.parentNode;
      const index = [...el.parentElement.children].indexOf(el);
      notesStorage.splice(index, 1);
      localStorage.setItem("notes", JSON.stringify(notesStorage));
      el.remove();
    };
    </script>
</body>
</html>

<hr />

   {% endfor %}


    <footer>All Rights Reserved, &copy; 2022 Platino Edition</footer> 
{% endblock  %}