{% extends 'base.html' %}
{% block content %}

    <h1>My Bookings</h1>
    {% for c in user.booking_set.all %}
        <p>{{ c.cars.type }}</p>
        <p>{{ c.cars.brand }}</p>
        <p>{{ c.cars.year }}</p> <br>
        {% if c.cars %}
        <P class="Book">Thank you for your Bookings The SpecialistAgent Will contact you shortly ✉︎ </P>
        <form action="/removeBooking/{{ c.id }}/cars/" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        {% endif %}
        {% endfor %}
        
        {% for re in user.booking_set.all %}

        <p>{{ re.realestates.tittle }}</p>
        <p>{{ re.realestates.price }}</p>
        <p>{{ re.realestates.location }}</p><br>
        {% if re.realestates %}
        <P class="Book">Thank you for your Bookings The SpecialistAgent Will contact you shortly ✉︎ </P>
        <form action="/removeBooking/{{ re.id }}/realestates/" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        {% endif %}
        {% endfor %}
        
        {% for yachy in user.booking_set.all %}
        <p>{{ yachy.yachts.brand }}</p>
        <p>{{ yachy.yachts.type }}</p>
        <p>{{ yachy.yachts.price }}</p>
        <p>{{ yachy.yachts.location }}</p><br>
        {% if yachy.yachts %}
        <P class="Book">Thank you for your Bookings The SpecialistAgent Will contact you shortly ✉︎ </P>
        <form action="/removeBooking/{{ yachy.id }}/yachts/" method="POST">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        {% endif %}
        
        {% endfor %}
        
        {% for jete in user.booking_set.all %}
        <p>{{ jete.jets.brand }}</p>
        <p>{{ jete.jets.type }}</p>
        <p>{{ jete.jets.price }}</p>
        <p>{{ jete.jets.location }}</p><br>
        {% if jete.jets %}
        <P class="Book">Thank you for your Bookings The SpecialistAgent Will contact you shortly ✉︎ </P>
        <form action="/removeBooking/{{ jete.id }}/jets/" method="POST">
            {% csrf_token %}
             <button type="submit">Delete</button>
            </form>
            {% endif %}
            {% endfor %}
            <style>
    button{
   color: #fff;
  background-color: #beab80;
  border-color: #b5a06f;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  min-width: 100px;
  margin: 13px;
    }
 
    form{
     
  TEXT-ALIGN: center;
}
h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center; 
}
p{
            text-align: center;
        }
 </style>
{% endblock  %}

        




