{% extends 'base.html' %}
{% block content %}

    <h1>Yachts 🛥</h1>
    
    <hr />

    {% for yah in boat %}

    <ul>
    
    <li>Brand: {{yah.brand}}</li>
    <li>Type: {{yah.type}}</li>
    <li>Year: {{yah.year}}</li>
    <li>Features: {{yah.features}}</li>
    <li>Price: {{yah.price}}</li>
    <li>Location: {{yah.location}}}</li>
    <li>Image: {{yah.Image}}</li>
    {% for image in yah.multimg_set.all %}
    <li><img src="{{ image.Images.url }}"></li><br>
    
     {% endfor %}


    </ul>


    {% endfor %}
{% endblock  %}